In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("/Users/emre/Downloads/Copymining Osee - Copymining Raw file.csv")

In [17]:
def flat(lis):
    flatList = []
    # Iterate with outer list
    for element in lis:
        if type(element) is list:
            # Check if type is list than iterate through the sublist
            for item in element:
                flatList.append(item)
        else:
            flatList.append(element)
    return flatList

def create_csv_most_common_words(number_of_words, data):
    mask_list = []
    mask_series = data.review.dropna().reset_index(drop=True)
    for x in range(0, len(mask_series)):
        mask = mask_series[x].split()
        mask_list.append(mask)

    flatList = []
    # Iterate with outer list
    for element in mask_list:
        if type(element) is list:
            # Check if type is list than iterate through the sublist
            for item in element:
                flatList.append(item)
        else:
            flatList.append(element)
    list_of_words = flatList

    from collections import Counter
    counter = Counter(list_of_words)
    result = counter.most_common(number_of_words)

    complete_list = pd.DataFrame(result) #.to_csv("results_copymining")
    return complete_list

In [18]:
create_csv_most_common_words(1000, data=data)

               0     1
0             et  2843
1             de  2471
2             le  2145
3              !  1813
4            est  1799
..           ...   ...
995   envoûtante    10
996      hydrate    10
997  l'emballage    10
998       j’aime    10
999        celle    10

[1000 rows x 2 columns]

In [16]:
complete_list

NameError: name 'complete_list' is not defined

In [107]:
mask_list = []
mask_series = data.review.dropna().reset_index(drop=True)
for x in range(0, len(mask_series)):
    mask = mask_series[x].split()
    mask_list.append(mask)

list_of_words = flat(mask_list)

from collections import Counter
counter = Counter(list_of_words)
rslt = counter.most_common(1000)

In [10]:
rslt

NameError: name 'rslt' is not defined

In [110]:
pd.DataFrame(rslt).to_csv("results_copymining")